* {
  font-family: "PingFang SC", "苹方", "Microsoft YaHei", sans-serif;
}
body {
  background-image: url(https://pic1.zhimg.com/80/v2-b678555fd1f6bb38c8bc27bda7b6c44f_720w.webp?source=1940ef5c);
  background-size: cover;
  background-repeat: no-repeat;
}
.hay-loading-parent--relative {
  position: relative !important;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.text-bold {
  font-weight: bold;
}
.align-center {
  align-items: center;
}
.margin-auto {
  margin: auto;
}
.mt-m {
  margin-top: 12px;
}
.mt-l {
  margin-top: 20px;
}
.ml-m {
  margin-left: 12px;
}
.cursor-pointer {
  cursor: pointer;
}
.text-m {
  font-size: 12px;
}
.flex-1 {
  flex: 1;
}
.align-center {
  align-items: center;
}
.text-red {
  color: red;
}
